:root {
  --background: #1B1B1B;
  --accent: #19DB81;
  --accent-30: #19db804d;
  --accent-10: #18dc811e;

  --accent-error: #db1919;
  --accent-error-30: #db19194d;

  --background-dark: #040404;
  --placeholder-color: #D7D7D7;
  --border-color: #3C3C3C;
  --grid-color: #e0e0e007;

  --chat-padding: 20px;
  --line-height: 1.5;
  --letter-spacing: 0.5px;

}

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Manrope", sans-serif;
  height: 100dvh;
  width: 100dvw;
  overflow: overlay !important;
  letter-spacing: var(--letter-spacing);
  line-height: var(--line-height);
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  font-weight: bold;
  color: white;
  line-height: inherit;
  letter-spacing: inherit;
}

h1 {
  font-size: 24px;
}

h2 {
  font-size: 18px;
}

h3 {
  font-size: 16px;
}

h4 {
  font-size: 14px;
}

.no-select {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

button {
  border: none;
  font-size: 16px;
  cursor: pointer;
  border-radius: 12px;
  transition: 0.25s;
  font-family: inherit;
  font-weight: bold;
  color: white;
}

img {
  max-width: 100%;
  height: auto;
}

.home {
  width: 100%;
  height: 100%;
  display: flex;
}

input {
  color: white;
  font-family: inherit;
  font-weight: bold;
  border: none;
  outline: none;
  background: none;
  font-size: 16px;
  padding: 10px;
}

input::placeholder {
  color: var(--placeholder-color);
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: var(--border-color);
  ;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--border-color);
}

::-webkit-scrollbar-button {
  display: none;
}

textarea {
  background-color: transparent;
  border: none;
  resize: none;
  font-family: inherit;
  font-weight: 600;
  color: white;
  line-height: inherit;
  letter-spacing: inherit;
}

textarea:focus {
  outline: none;
}

::selection {
  color: var(--accent);
  background: transparent;
}

.error-selection::selection {
  color: var(--accent-error);
}

[disabled] {
  cursor: not-allowed;
}