:root {
    /* ==============================
        Стандартные Toastify стили.
        Тема Dark - для success
        Тема Light - для error
    ============================== */

    --toastify-color-light: var(--accent-error-30);
    --toastify-color-dark: var(--accent-30);
    --toastify-color-info: #3498db;
    --toastify-color-success: var(--accent);
    --toastify-color-warning: #f1c40f;
    --toastify-color-error: var(--accent-error);
    --toastify-color-transparent: rgba(255, 255, 255, 0.7);
    
    --toastify-icon-color-info: var(--toastify-color-info);
    --toastify-icon-color-success: var(--toastify-color-success);
    --toastify-icon-color-warning: var(--toastify-color-warning);
    --toastify-icon-color-error: var(--toastify-color-error);
    
    --toastify-container-width: fit-content;
    --toastify-toast-width: 500px;
    --toastify-toast-offset: 16px;
    --toastify-toast-top: max(var(--toastify-toast-offset), env(safe-area-inset-top));
    --toastify-toast-right: max(var(--toastify-toast-offset), env(safe-area-inset-right));
    --toastify-toast-left: max(var(--toastify-toast-offset), env(safe-area-inset-left));
    --toastify-toast-bottom: max(var(--toastify-toast-offset), env(safe-area-inset-bottom));
    --toastify-toast-background: #fff;
    --toastify-toast-padding: 14px;
    --toastify-toast-min-height: 64px;
    --toastify-toast-max-height: 800px;
    --toastify-toast-bd-radius: 12px;
    --toastify-toast-shadow: 0px 4px 12px rgba(90, 90, 90, 0.1);
    --toastify-font-family: "Manrope", sans-serif;
    --toastify-z-index: 9999;
    --toastify-text-color-light: #ffffff;
    --toastify-text-color-dark: #ffffff;
  
    --toastify-text-color-info: #fff;
    --toastify-text-color-success: #fff;
    --toastify-text-color-warning: #fff;
    --toastify-text-color-error: #fff;
  
    --toastify-spinner-color: #616161;
    --toastify-spinner-color-empty-area: #e0e0e0;
    --toastify-color-progress-light: linear-gradient(to right, #4cd964, #5ac8fa, #007aff, #34aadc, #5856d6, #ff2d55);
    --toastify-color-progress-dark: #bb86fc;
    --toastify-color-progress-info: var(--toastify-color-info);
    --toastify-color-progress-success: var(--toastify-color-success);
    --toastify-color-progress-warning: var(--toastify-color-warning);
    --toastify-color-progress-error: var(--toastify-color-error);
    --toastify-color-progress-bgo: 0.2;
}

.Toastify__close-button {
    color: white;
    opacity: 0.5;
}

.Toastify__toast-theme--light {
    border: 2px solid var(--accent-error);
}

.Toastify__toast-theme--dark {
    border: 2px solid var(--accent);
    opacity: 1;
}

.Toastify__toast {
    font-weight: 600;
}

.Toastify__toast-theme--light::selection {
  color: var(--accent-error);
}
